{% extends 'core/base.html' %}
{% block content %} 

<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES-</h1>
<!---------------------------------1---------------------------->
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color "></i>
            <h3>SEO</h3>
            <p class="ss-color">Search engine optimization (SEO) is a set of methods aimed at 
                improving the ranking of a website in search engine listings, and could be 
                considered a subset of Internet or Web marketing. </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
            <h3>Web Design</h3>
            <p class="ss-color">Web services allow different organizations or applications from 
                multiple sources to communicate without the need to share sensitive data or IT 
                infrastructure.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>Web Development</h3>
            <p class="ss-color">These goals serve as a roadmap for the design, development, 
                and marketing of the website, providing a clear direction for content creation, 
                user experience, and functionality.</p>
        </div>
    </div>
    <!-------------------------2------------------------------>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2x mb-3 i-color"></i>
            <h3>Android</h3>
            <p class="ss-color"> One such main feature about android is the integration of Google
                 products and services like Gmail, YouTube and more.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-windows fa-2x mb-3 i-color"></i>
            <h3>Windows</h3>
            <p class="ss-color">To hide the details of the hardware resources from the users.
                 To provide users a convenient interface to use the computer system.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
            <h3>Advertiesing</h3>
            <p class="ss-color">The purpose of advertising is to inform the consumers about their 
                product and convince customers that a company's services or products are the best. </p>
        </div>
    </div>
    <!------------------------3------------------------------->
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2x mb-3 i-color "></i>
            <h3>Logo Design</h3>
            <p class="ss-color">Logos with a simple design tend to be memorable, eye-catching, 
                and convey a clear message to their target audience.</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="ss-color">the objectives for hosting a sales conference are to motivate and 
                recognize, inform, educate and network the sales staff members as a whole.

            </p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
            <h3>Support</h3>
            <p class="ss-color">The prime objective of customer service is to answer customer
                 questions quickly and effectively.</p>
        </div>
    </div>
</div>

{% endblock content %}